.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.item img {
  max-width: 100%;
  height: auto;
}

.soon {
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.heart-container {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.heart-container i {
  color: #ccc;
  font-size: 20px;
  margin-right: 5px;
}

.heart-container i:hover {
  color: red;
}

.like-count {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: 5px;
}











.item {
  position: relative;
  display: inline-block;
}

.item .soon {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  padding: 5px;
}




.owner-label {
  position: absolute;
  top:-1%;
  right: +300px;
  background-color: #76bb40;
  padding: 5px;
  transform: rotate(-0deg) scale(0.5);
}



.logo-img {
  
  width: 167px;
  height: auto;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
}



header {
  background-image: url('https://i.gifer.com/3ck.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px;
  background-color: #f2f2f2;
}





.phone-number {
  background-image: url('https://mcusercontent.com/a2ff368c04a45e94191314f2d/images/4eeaac5a-1f0e-8b3e-c952-a381fdb61e53.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid #111;
  position: fixed;
  top: 90%;
  right: 230px;
  transform: translateY(-50%); 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.phone-number a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #f5ec00;
}





.annonce {
  background-color: #76bb40;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: white;
}




h1 {
color: white;
}
h2 {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}

.subscribe-text h4 {
  color: red;
}


p {
  color: #261;
}

		body {
			background-image: url("https://mcusercontent.com/a2ff368c04a45e94191314f2d/images/4eeaac5a-1f0e-8b3e-c952-a381fdb61e53.jpeg"); 
			background-size: cover;
			background-position: center center;
			text-align: center;
		}

		h3 {
      color: #000000;
			margin: 0 auto;
			display: inline-block;
			background-color: white;
			padding: 20px;
			border-radius: 10px;
		}
	
	

li {
  color: #333;
}

td {
  color: #333;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  
  border-collapse: collapse;
  margin: 10px 0;
}

th, td {
  border: 1px solid #333;
  padding: 5px;
}

th {
  background-color: #333;
}

p:last-child {
  margin-bottom: 0;
}

	

.item {
  margin: 20px;
  padding: 20px;
  background-color: #f5ec00;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  width: 290px;
}

.item img {
  width: 100%;
  margin-bottom: 10px;
}





#mc_embed_signup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #01c7fc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#mc_embed_signup h2 {
  display: none;
}

#mc-embedded-subscribe-form {
  
  display: none;
}

#mc_embed_signup:hover {
  
  width: 200px;
  height: 200px;
  cursor: pointer;
}

#mc_embed_signup:hover #mc-embedded-subscribe-form {
  display: block;
  color: #333;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  display: block;
  margin: 0 10px;
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.1);
}

.snapchat-link:hover i {
  color: #FFFC00;
}

.instagram-link:hover i {
  color: #E1306C;
}

.facebook-link:hover i {
  color: #1877F2;
}

.fa-snapchat-ghost, .fa-instagram, .fa-facebook-square {
  transition: color 0.3s ease-in-out;
}
